[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-xdist = "*"

[packages]
flask = "*"
gunicorn = "*"
flask-marshmallow = "*"
jupyter = "*"
pandas = "*"
bokeh = "*"
seaborn = "*"
scikit-learn = "*"
statsmodels = "*"
psychrolib = "*"
joblib = "*"
pytest-cov = "*"
nbstripout = "*"
flask-cors = "*"
marshmallow = "*"
setuptools = "*"
keras = "*"
tensorflow = "*"

[requires]
python_version = "3.7"
